@font-face {
    font-family: 'iconfont';
    /* project id 2439398 */
    src: url('//at.alicdn.com/t/font_2439398_a9bph6o31is.eot');
    src: url('//at.alicdn.com/t/font_2439398_a9bph6o31is.eot?#iefix') format('embedded-opentype'),
        url('//at.alicdn.com/t/font_2439398_a9bph6o31is.woff2') format('woff2'),
        url('//at.alicdn.com/t/font_2439398_a9bph6o31is.woff') format('woff'),
        url('//at.alicdn.com/t/font_2439398_a9bph6o31is.ttf') format('truetype'),
        url('//at.alicdn.com/t/font_2439398_a9bph6o31is.svg#iconfont') format('svg');
}

.iconfont {
    font-family: "iconfont" !important;
    font-size: 14px;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    -webkit-text-stroke-width: 0.2px;
    -moz-osx-font-smoothing: grayscale;
}

.qw-icon-drap::after {
    content: "\e682";
}

.qw-close::after {
    content: "\e651"
}
i.correct::after{
    content : "\e63e";
    color:#50bc93;
}
i.error::after{
    content : "\e7ad";
    color:#f56c6c;
}